Messenger.SMSPanel/Connected Services/KashanSMSReference/send.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeliveryResult" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDeliveryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isRead" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInboxCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfMessagesBL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessagesBL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessagesBL" nillable="true" type="tns:MessagesBL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessagesBL">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseBL">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MsgID" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Udh" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SendDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstLocation" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentLocation" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Parts" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsFlash" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRead" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsUnicode" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Credit" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Module" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecFailed" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecSuccess" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseBL" />
      <s:element name="ScheduleSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduleDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="period" type="tns:PeriodType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PeriodType">
        <s:restriction base="s:string">
          <s:enumeration value="Once" />
          <s:enumeration value="Daily" />
          <s:enumeration value="Weekly" />
          <s:enumeration value="Monthly" />
          <s:enumeration value="Yearly" />
          <s:enumeration value="Custom" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ScheduleSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ScheduleSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="udh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsStringRec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="udh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="recIdstr" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsStringRecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsStringRecResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="recIdstr" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDelivery" />
  </wsdl:message>
  <wsdl:message name="UpdateDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetInboxCount" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetInboxCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleSmsSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduleSms" />
  </wsdl:message>
  <wsdl:message name="ScheduleSmsSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduleSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsStringRecSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsStringRec" />
  </wsdl:message>
  <wsdl:message name="SendSmsStringRecSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsStringRecResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSoap">
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditSoapIn" />
      <wsdl:output message="tns:GetCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input message="tns:GetDeliverySoapIn" />
      <wsdl:output message="tns:GetDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDelivery">
      <wsdl:input message="tns:UpdateDeliverySoapIn" />
      <wsdl:output message="tns:UpdateDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <wsdl:input message="tns:GetInboxCountSoapIn" />
      <wsdl:output message="tns:GetInboxCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleSms">
      <wsdl:input message="tns:ScheduleSmsSoapIn" />
      <wsdl:output message="tns:ScheduleSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsStringRec">
      <wsdl:input message="tns:SendSmsStringRecSoapIn" />
      <wsdl:output message="tns:SendSmsStringRecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSoap" type="tns:SendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDelivery">
      <soap:operation soapAction="http://tempuri.org/UpdateDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <soap:operation soapAction="http://tempuri.org/GetInboxCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleSms">
      <soap:operation soapAction="http://tempuri.org/ScheduleSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsStringRec">
      <soap:operation soapAction="http://tempuri.org/SendSmsStringRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSoap12" type="tns:SendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredit">
      <soap12:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDelivery">
      <soap12:operation soapAction="http://tempuri.org/UpdateDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <soap12:operation soapAction="http://tempuri.org/GetInboxCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://tempuri.org/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleSms">
      <soap12:operation soapAction="http://tempuri.org/ScheduleSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsStringRec">
      <soap12:operation soapAction="http://tempuri.org/SendSmsStringRec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Send">
    <wsdl:port name="SendSoap" binding="tns:SendSoap">
      <soap:address location="http://panel.kashanpayam.ir/post/send.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSoap12" binding="tns:SendSoap12">
      <soap12:address location="http://panel.kashanpayam.ir/post/send.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>